body {
    font-family: 'Abel', sans-serif;
    background-color: #e6e6e6;
}

h1, h2, h3, h4, h5, h5 {
    font-family: 'Anton', sans-serif;
}

nav {
    height: 100px;
    margin-top: 70px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#codeupMain {
    font-family: 'Abel', sans-serif;
}

a {
    color: black;
}

.red {
    background-color: #e6563b;
}

.orange {
    background-color: #EB9D3A;
}

.blue {
    background-color: #00aba9;
}

.green {
    background-color: #7cb06c;
}

.circle {
    border-radius: 50%;
}

.large-circle {
    height: 150px;
    width: 150px;
    line-height: calc(100px - 10px);
    color: #f0f0f0;
    border: 5px solid #f0f0f0;
}

